<!-- Header Section -->
<section>
  <div class="row">
    <div class="large-12 columns">
      <div class="main-wrapper">
        <a href="/"><h1 class="custom-text">Omaha Bicycle Co.</h1></a>
        <br>
        <h3 class="custom-text">Bicycles & Repair | Coffee & Tea</h3>
        <hr>
        <div class="row">
          <div class="large-12 columns large-centered">
            <ul class="button-group even-6">
              <li><a href="/about" class="button custom-text">About</a></li>
              <li><a href="/brands" class="button custom-text">Brands</a></li>
              <li><a href="#" class="button custom-text">Coffee & Tea</a></li>
              <li><a href="#" class="button custom-text">Custom Builds</a></li>
              <li><a href="#" class="button custom-text">Events</a></li>
              <li><a href="#" class="button custom-text">#pedalhappy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Header Section -->

<!-- Button Section -->
<br>
<ul class="stack-for-small button-group even-2">
  <li><button id="bikes_button" class="button secondary" onclick="showMe('bikes'); hideMe('parts')">Bicycles</button></li>
  <li><button id="parts_button" class="button secondary" onclick="showMe('parts'); hideMe('bikes')">Parts, Clothing, Etc.</button></li>
</ul>
<!-- Button Section -->

<!-- Bike Brands Section -->
<div id="bikes" style="display: none;">
  <div class="row">

    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.allcitycycles.com"><%= image_tag 'obc-bike-brands/all-city-logo-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.gunnarbikes.com/site"><%= image_tag 'obc-bike-brands/Gunnar-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.handsomecycles.com"><%= image_tag 'obc-bike-brands/Handsome-300x300.jpg' %></a>
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.jamisbikes.com"><%= image_tag 'obc-bike-brands/Jamis-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="https://www.lynskeyperformance.com"><%= image_tag 'obc-bike-brands/Lynskey-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.salsacycles.com"><%= image_tag 'obc-bike-brands/salsa-logo-300x300.jpg' %></a>
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.singularcycles.com"><%= image_tag 'obc-bike-brands/Singular-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.somafab.com"><%= image_tag 'obc-bike-brands/Soma-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.surlybikes.com"><%= image_tag 'obc-bike-brands/Surly-300x300.jpg' %></a>
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.virtuebike.com"><%= image_tag 'obc-bike-brands/Virtue-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.waterfordbikes.com"><%= image_tag 'obc-bike-brands/Waterford-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">

    </div>

  </div>
</div>
<!-- Bike Brands Section -->

<!-- Parts/Clothing Brands Section -->
<div id="parts" style="display: none;">
  <div class="row">

    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.arkel-od.com"><%= image_tag 'obc-parts-brands/Arkel-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.brooksengland.com"><%= image_tag 'obc-parts-brands/Brooks-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.campagnolo.com/us/en"><%= image_tag 'obc-parts-brands/Campagnolo-300x300.jpg' %></a>
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.chrisking.com"><%= image_tag 'obc-parts-brands/chris-king-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="https://www.discountmugs.com/"><%= image_tag 'obc-parts-brands/discount-mugs-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://page-on.ocn.ne.jp/close.html"><%= image_tag 'obc-parts-brands/Nitto-300x300.jpg' %></a>
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.panaracer.com/home.php"><%= image_tag 'obc-parts-brands/Panaracer-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="https://www.philwood.com"><%= image_tag 'obc-parts-brands/Phil-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.rohloff.de/en/company/"><%= image_tag 'obc-parts-brands/Rohloff-300x300.jpg' %></a>
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.schwalbetires.com"><%= image_tag 'obc-parts-brands/Schwalbe-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://bike.shimano.com/"><%= image_tag 'obc-parts-brands/Shimano-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="https://www.builtbyswift.com"><%= image_tag 'obc-parts-brands/Swift-300x300.jpg' %></a>
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.swrve.us"><%= image_tag 'obc-parts-brands/Swrve-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.velo-orange.com"><%= image_tag 'obc-parts-brands/Velo-Orange-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.velocityusa.com"><%= image_tag 'obc-parts-brands/Velocity-300x300.jpg' %></a>
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="large-4 columns">
      <div class="panel">
        <p>
          <a href="http://www.whiteind.com/"><%= image_tag 'obc-parts-brands/White-Industries-300x300.jpg' %></a>
        </p>
      </div>
    </div>
    <div class="large-4 columns">

    </div>
    <div class="large-4 columns">

    </div>

  </div>
</div>
<!-- Parts/Clothing Brands Section -->
