<!-- Header Section -->
<section>
  <div class="row">
    <div class="large-12 columns">
      <div class="main-wrapper">
        <a href="/"><h1 class="custom-text">Omaha Bicycle Co.</h1></a>
        <br>
        <h3 class="custom-text">Bicycles & Repair | Coffee & Tea</h3>
        <hr>
        <div class="row">
          <div class="large-12 columns large-centered">
            <ul class="button-group even-6">
              <li><a href="/about" class="button custom-text">About</a></li>
              <li><a href="#" class="button custom-text">Brands</a></li>
              <li><a href="#" class="button custom-text">Coffee & Tea</a></li>
              <li><a href="#" class="button custom-text">Custom Builds</a></li>
              <li><a href="#" class="button custom-text">Events</a></li>
              <li><a href="#" class="button custom-text">#pedalhappy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Header Section -->

<!-- TODO: Buttons Section => Button to show/hide bike brands, and a button to show/hide other brands -->

<!-- Bike Brands Section -->
<div class="row">

  <div class="large-4 columns">
    <div class="panel">
      <p>
        <%= image_tag 'obc-bike-brands/all-city-logo-300x300.jpg' %>
      </p>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <p>
        <%= image_tag 'obc-bike-brands/Gunnar-300x300.jpg' %>
      </p>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <p>
        <%= image_tag 'obc-bike-brands/Handsome-300x300.jpg' %>
      </p>
    </div>
  </div>

</div>

<div class="row">

  <div class="large-4 columns">
    <div class="panel">
      <p>
        <%= image_tag 'obc-bike-brands/Jamis-300x300.jpg' %>
      </p>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <p>
        <%= image_tag 'obc-bike-brands/Lynskey-300x300.jpg' %>
      </p>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <p>
        <%= image_tag 'obc-bike-brands/salsa-logo-300x300.jpg' %>
      </p>
    </div>
  </div>

</div>

<div class="row">

  <div class="large-4 columns">
    <div class="panel">
      <p>
        <%= image_tag 'obc-bike-brands/Singular-300x300.jpg' %>
      </p>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <p>
        <%= image_tag 'obc-bike-brands/Soma-300x300.jpg' %>
      </p>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <p>
        <%= image_tag 'obc-bike-brands/Surly-300x300.jpg' %>
      </p>
    </div>
  </div>

</div>

<div class="row">

  <div class="large-4 columns">
    <div class="panel">
      <p>
        <%= image_tag 'obc-bike-brands/Virtue-300x300.jpg' %>
      </p>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <p>
        <%= image_tag 'obc-bike-brands/Waterford-300x300.jpg' %>
      </p>
    </div>
  </div>
  <div class="large-4 columns">

  </div>

</div>
<!-- Bike Brands Section -->
